body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #1a113e;
  overflow: hidden;
  margin: 0;
}

#word {
  font-family: Megrim, cursive;
  font-size: 20vh;
  position: absolute;
  margin: 10;
  /*bottom: 0;*/
  color: #fc0;
  -webkit-text-stroke: 0.15vh #c0f;
}

.group_name {
  position: absolute;
  z-index: 10000;
  top: 3%;
  color: #efefee;
  font-size: xx-large;
  font-family: monospace;
}

/* ANIMATION */
.animation-wrapper {
  width: 44%;
  height: 44%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px;
  }
}
