.faqs-container {
  display: flex;
  flex-direction: column;
}

.faq-head {
  text-align: center;
}

.faqs-container h2 {
  margin-bottom: 2rem;
  color: hsl(0, 0%, 37%);
}

.faqs-container h2 span {
  font-weight: 400;
  font-family: monospace;
  margin-left: 5px;
}

.faq-social__container {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-bottom: 2rem;
}

.faq-social__link {
  padding: 5px;
  background: hsl(0, 0%, 95%);
  border-radius: var(--border-radius-sm);
  color: var(--sonic-silver);
  transition: var(--transition-timing);
  font-size: 2.5rem;
  margin: 0 8px;
}

.faqs {
  margin: 4rem auto;
}

.faq {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: fit-content;
  background: #e4e4e4;
  cursor: pointer;
  margin: 10px 0;
}

.faq-icon {
  align-self: flex-start;
  font-size: 1rem;
  margin-right: 10px;
  margin-top: 6px;
}

.faq h4 {
  line-height: 2.2;
  font-weight: 500;
  color: hsl(0, 0%, 13%);
}

.faq p {
  margin-top: 0.8rem;
  display: none;
  color: hsl(0, 0%, 13%);
  font-weight: 300;
  font-size: 0.9rem;
}

.faq.open p {
  display: block;
}

/* media */
@media only screen and (max-width: 1800px) {
  .faq-social__container {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .faq-social__container {
    display: flex;
  }
}

@media only screen and (max-width: 415px) {
  .faq h4 {
    font-size: 0.9rem;
  }
  .faq-icon {
    margin-top: 4px;
  }
}
